$fa-font-path: "~font-awesome-sass/assets/fonts/font-awesome/";
$font-path: "~patternfly/dist/fonts/";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$img-path: "~patternfly/dist/img/";

// PatternFly
@import "~patternfly/dist/sass/patternfly";


